P.special {
color : green;
text-align : center;
font-size : 35px;
}

.Alert{
	color : rad;
        text-align : center-left
}

#testCaseTable{
align : center;

}


.tg {	
	border-collapse:collapse;
	border-spacing:0;
	border: solid red;
}

.tg td{
	font-family:Arial, sans-serif;
	font-size:14px;
	padding:10px 5px;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
}
.tg th{
	font-family:Arial, sans-serif;
	font-size:14px;
	font-weight:normal;
	padding:20px 50px;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
}
.tg .tg-oqg4{

font-weight:bold;
background-color:#f1c40f;
text-align:center
}

.tg .tg-e3zv{
font-weight:bold
}

.tg .tg-6wb1{
font-weight:bold;
background-color:#00fd03;
text-align:center
}

.tg .tg-fzjz{
font-weight:bold;
background-color:#ee200a;
text-align:center
}